
/*css header*/
header{
    margin: 1em 0;
}
.navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}
.header__logo{
    width: 25%;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.logo{
    width: 50%;
    height: 60%;
    margin-right: 6.5em;
    padding: 5px ;
    margin-left: -1.5em;
    
}
.header__nav{
    width: 75%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.item-header{
    display: flex;
    align-items: center;
}


/* section */
.section1{
    background-color: #FEFEFE;
}
.section2{
    width: 100%;
    padding: 3em 0;
    background: linear-gradient(180deg, #F0F8FE 0%, rgba(255, 255, 255, 0.0) 100%);
}
.section3{
    width: 100%;
    background-color: #FEFEFE;
    padding: 2em 0;
}
.section4{
    width: 100%;
    padding: 3em 0;
    background: linear-gradient(180deg, #F0F8FE 0%, rgba(255, 255, 255, 0.0) 100%);
}
.section5{
    width: 100%;
    padding: 2em 0;
    background-color: #FEFEFE;

    
}
.section6{
    width: 100%;
    padding: 2em 0;
    background: linear-gradient(180deg, #F0F8FE 0%, rgba(255, 255, 255, 0.0) 100%);

}
.section7{
    
}

/* section1 */
.section1__content-top{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    text-align: start;
}

.top-content{
    width: 42%;
    height: 80%;
}
.top-content-title{
    width: 100%;
}
.top-image{
    width: 55%;
    height: 100%;
    margin-right : 1%;
    margin-left : 2%;
}

.bottom-image{
    width: 65%;
    height: 30px;
}

.section1__content-bottom{
    width: 100%;
    height: 250px;
}
.bottom-text{
    padding: 3em;
    display: flex;
    flex-direction: center;
    justify-content: center;
}


.title-p{
    width: 100%;
    padding-right: 2em;
    /* line-height: 40px; */
}
.text-p{
    margin: 1em;
    margin-left: 0;
    margin-right: 3em;
}


/* section2 */
.section2__title-one{
    display: flex;
    justify-content: center;
    padding: 1em;
}
.section2__title{
    margin: 2em ;
}
.section2__title-two .title{
    padding: 0 5em;
}

.img-items-st2{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.content-items-st2{
    padding: 1em 3em;
    width: 100%;
    height: 200px;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}
.title-item{
    font-size: 20px;
}
.url-st2{
    color: #5EB9F0;
}

/* section3 */

.container__section3{
    text-align: start;
}
.container__section3 .sub-title{
    text-align: start;
}
.section3__content-first{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.section3__content-second{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* align-items: center; */
    
}
.button-section3{
    width: 150px;
    padding-left: 1em;
    padding-right: 1em;
}

.second__box-one{
    margin-left: 10%;
}
.second__box-two{
    margin-left: 20%;
}
.second__box-three{
    margin-left: 15%;
}
.box{
    width: 80%;
    height: 90px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 35px 0px rgba(30, 34, 40, 0.07);
    align-items: center;
    justify-content: space-around;
}
.box-icon{
    width: 12%;
    height: 50px;
    background-color: #E5F4FD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content{
    height: 50px;
    width: 80%;
}

/* section4 */
.container__section4{
    height: 500px;
}
.section4__image{
    height: 400px;
}
.section4__content{
    height: 400px;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section4__content-box{
    width: 100%;
    height: 350px;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-between;
}
.content-text-1{
    text-align: start;
}
.content-text-2{
    padding-right: 3em;
}
.content-text-3{
     color: #5EB9F0;
}
.content-text-4{
    padding-left: 2rem;
    padding-right: 3rem;
}
.icon-up-down{
    color: #5EB9F0;
    margin: 0 2px;
}

/* section5 */
.container__section5{
    height: 1150px;
    flex-direction: column;
}
.section5__first{
    height: 500px;

}
.section5__first-content{
    height: 180px;
    justify-content: space-between;
}
.fistt-content-title{
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}
.fistt-content-title>p{
    text-align: start;
}
.fistt-content-views{
    width: 60%;
}
.views-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.views-box-icon{
    display: flex;
    justify-content: center;
}
.views-icon{
    width: 60px;
    height: 60px;
    background-color: #E5F4FD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.section5__first-card{
    height: 270px;
    margin: 2em 0;
    justify-content: space-between;
}
.card-st5{
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: start;
    padding: 0 1em;
}
.card-image{
    width: 60px;
    height: 60px;
    /* background-color: red; */
}
.icons{
    display: flex;
    gap: 20px;
}

.icon1{
    color: #5DAED5;
}
.icon2{
    color: #4470CF
}
.icon3{
    color: #E94D88
}

.section5__second{
    height: 500px;
    /* background-color: antiquewhite; */
    padding: 2em 0;
}
.section5__second-content{
    height: 150px;
    width: 100%;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
}
.st5-title2{
   padding: 0 15%;
}
.section5__second-gallery{
    height: 350px;
    text-align: start;
}
.gallery-cell{
    height: 100%;
}
.cell-image{
    width: 94%;
    height: 70% ;
    margin: 12px 0 ;
}
.section5__three{
    height: 50px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E5F4FD;
    box-shadow: 0px 5px 35px 0px rgba(30, 34, 40, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;

}

/* section6  */
.container__section6{
    height: 800px;
}
.section6__content{
    height: 20%;
}
.section6__content>p{
    text-align: center;
    padding: 10px;
}
.section6__card{
    height: 80%;
    justify-content: center;
}
.card__column{
    width: 33%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.st6-cl-two{
    margin-top: 2em;
}
.card__row{
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    padding-left: 2em;
    padding-right: 2em;
}
.st6-card-image{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.section6__card-image{
    width: 30%;
}
.section6__card-content{
    /* width: 60%; */
    flex: 1;
}
.start{
    color: #FCC032;
}